body{
  text-shadow: none;
}

a:hover, a:visited, a:focus{
  text-decoration: none !important;
}

.w3-purple, .w3-hover-purple:hover {
    background-color: #f7ca18!important;
}

.w3-border-red, .w3-hover-border-red:hover {
    border-color: #f7ca18!important;
}

.panel-group {
    margin-right: 40px;
}

.ui-link:hover{
  color: #f7ca18!important;
}

.carousel-control.left, .carousel-control.right {
  margin-right: 0px;
  margin-left: 0px;
}

.container-fluid{
  padding-left: 0px!important;
  padding-right: 0px!important;
}

/*start of slider styles*/
.slider {
  width: 100%;
  margin: 50px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}
/*end of slider styles*/


*:not(i)  {
  /*font-family: 'PT Sans', sans-serif;*/
  /*font-family: 'PT Sans', sans-serif !important;*/
  font-family: 'Encode Sans Expanded', sans-serif;
  font-weight: 400 !important;
  text-shadow: none;
}
h1, h2, h3, h4, h5, h6{
  text-shadow: none !important;
}
.portfolio-item{
  margin: 0 auto;
  width: 100%;
  padding: 5px 15px 0px;
}
.portfolio-selection{
  width: 150px;
  padding: 5px 10px;
  margin: 0px 20px;
  background: #536dfe;
  text-align: center;
  height: 150px;
}
.carousel-img{
  width: fit-content;
  height: 100% !important;
  margin: 0 auto;
}
.carousel-holder{
  margin-left: 200px;
  height: 300px;
}
.portfolio-text{
  color: white !important;
  padding: 5px 10px !important;
  font-size: 20px;
  text-shadow: none;
  text-decoration: none;
}
.portfolio-selection>a:hover{
  background: transparent !important;
}

.display-item{
  display: inline-flex;
  height: 150px;
  /*background: rgba(149, 149, 149, 0.3);*/
  border-bottom: solid #98a8fc 1px;
  padding: 10px;
  margin: 10px 0px;
  width: 744px;
}
.display-item>img{
  width: 13%;
}
.display-item-text{
  padding: 10px 20px;
}
.display-item-text>a>h2{
  font-size: 28px;
  color: #212121;
}
.display-item-text>a>h3{
  font-size: 28px;
  color: #757575;
}
/*qr code scanner*/
.scanner-laser {
  position: absolute;
  margin: 40px;
  height: 30px;
  width: 30px;
  opacity: 0.5;
}

.laser-leftTop {
  top: 0;
  left: 0;
  border-top: solid red 5px;
  border-left: solid red 5px;
}

.laser-leftBottom {
  bottom: 0;
  left: 0;
  border-bottom: solid red 5px;
  border-left: solid red 5px;
}

.laser-rightTop {
  top: 0;
  right: 0;
  border-top: solid red 5px;
  border-right: solid red 5px;
}

.laser-rightBottom {
  bottom: 0;
  right: 0;
  border-bottom: solid red 5px;
  border-right: solid red 5px;
}

#webcodecam-canvas {
  background-color: #272822;
}
#scanned-QR{
  word-break: break-all;
}

#webcodecam-canvas, #scanned-img {
  background-color: #2d2d2d;
}

#camera-select {
  display: inline-block;
  width: auto;
}

/*Sidebar*/
.w3-bar-item{
  color: white !important;
  font-size: 20px !important;
}

/*Top Nav Bar*/
.top-nav-bar{
  z-index:1;
  position: fixed;
  width: 100%;
  /*height: 50px;*/
  background: #252839;
}
.top-nav-bar>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #252839;
  z-index:0;
  height: 40px;
}

.top-nav-items {
  float: right !important;
}

.top-nav-items>a {
  display: block;
  color: white !important;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.top-nav-items>a:hover:not(.active) {
  background-color: transparent;
  text-decoration: none;
}
.left-indent{
  float: left !important;
  font-size: 28px;
}

/*Side bar cart summary */
.item{
  display: inline-flex;
  width: 100%;
}
.right-items{
  width: 10%;
  float: right;
}
.left-items{
  width: 80%;
}
.shopping-cart-side-bar{
  /*margin-top: 750px; */
  padding: 5px 16px;
  /*background: #aa863a;*/
  background: #F7CA18;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 80px;
}
.shopping-cart-side-bar>h2{
  font-size: 20px;
}
.left-items>h3{
  color: #212121;
  font-size: 20px;
}
.left-items>h4{
  color: #555555;
  font-size: 18px;
}
.right-items>h3{
  color: #212121;
  font-size: 20px;
}

.w3-sidebar {
  height: 100%;
  width: 200px;
  background-color: #392e25!important;
  position: fixed!important;
  z-index: 1;
  overflow: auto;
}
 /*f2b632*/
.w3-sidebar a:hover {
  text-decoration: none !important;
}

.w3-button:hover {
  color: #000!important;
  background-color: #F7CA18!important;
  text-shadow: none;
}

.closebutton{
  background-color: #392e25!important;
}

.openbutton{
  margin-top: 0px!important;
  margin-bottom: 0px!important;
  width: 16%!important;
}

.portfolio-area{
  margin-bottom: 50px;
}

a, a:hover{
  text-decoration: none;
  color: black!important;
  cursor: pointer;
}

 .regular [type=button]{
  display: none !important;
}

.tab-header{
  width: 50%;
}

.discountimage, .eventimage, .storesimage, .gameimage{
  cursor: pointer;
}

/*account page ==========================================================================*/
.profilepic{
  background-image: url(../assets/images/profileimage.jpeg);
  background-position: 50% 50%;
  /* background-repeat: no-repeat; */
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-size: cover;
  margin: 40px auto;
}
/* Start Copyright Section */

.footer-section {
    border-top: 1px solid #363636;
    font-size: 12px;
    padding-top: 2px;
    background: #252839;
    color: white;
}

.footer {
    font-size: 16px;
}

.footer-menu li {
    display: inline;
    padding-left: 10px;
}
.fa-facebook-square:hover{
    color:#f7ca18!important;
}
.fa-facebook-square{
    color:white;
}
.fa-linkedin{
    color:white;
}
.fa-linkedin:hover{
    color:#f7ca18!important;
}
.fa-twitter-square{
    color:white;
}
.fa-twitter-square:hover{
    color:#f7ca18!important;
}
.footer-menu li a {
    color: #7f7f7f;
    font-weight: 500;
}

.footer-menu li a.active {
    color: #fff;
    font-size: 13px;
}
/* End footer Section */
#map1{
    margin: auto;
    height: 300px;
    position: relative;
}
#mapTwo{
    margin: auto;
    height: 300px;
    position: relative;
}
.profilename{
  margin: 100px 0px;
}

.qr{
  background-color: #b7c2fd;
  margin: 0px 30px;
}

.qr-header{
  padding: 20px;
  font-size: 20px;
  font-weight: 700!important;
}

.ui-input-text{
  width: 90%!important;
  margin: 0px auto!important;
  z-index: -10!important;
}

.button {
  background-color: #98a8fc;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 16px;
  cursor: pointer;
}

.buttons{
  text-align: right;
}

.ach-header{
  /*background-color: #a4b2ff;*/
  margin: 40px 30px;
  padding: 20px;
  font-size: 20px;
  font-weight: 700!important;
  border-bottom: #b7c2fd solid 1px;
}

.bars{
      margin: 30px 50px;
      font-size: 20px;
}

.ach-element{
  /*background-color: #c5c5c5;;*/
  margin: 40px 30px;
  padding: 33px;
  font-size: 20px;
  font-weight: 700!important;

}

.ach-element .leftelement{
  display: inline-block;
  border-bottom: #b7c2fd solid 1px;
}

.ach-element .rightelement{
  /*text-align: right;
  display: inline-block;
  float: right;*/
}

/* end of account page ========================================================== */
/*---------------------------------------------------------------*/
/* Start Call To Action
/*---------------------------------------------------------------*/


.call-to-action {
    background: url(../assets/images/parallax2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 90%;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.call-to-action p {
    color: #fff;
    font-weight: 300;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 3px;
}

.call-to-action .btn-primary {
    padding: 20px;
    font-size: 16px;
}

.call-to-action .btn-primary:hover {
    background: transparent;
}
#about-section-2 {
    background: #f9f9f9;
    padding-top: 40px;
    padding-bottom: 80px;
}
/* cart page styles ============================================================== */

.cart-paypal{
  text-align: right;
}

.paypal{
  background: #98a8fc;
  border: #98a8fc solid 1px;
    display: inline-block;
    padding: 10px 20px;
    margin-right: 50px;
    cursor: pointer;
    font-size: 20px;
}

.paypal:hover{
  background: white;
  color: #98a8fc;
  border: #98a8fc solid 1px;
    display: inline-block;
    padding: 10px 20px;
    margin-right: 50px;
    
}

.display-item-text-one{
  width: 70%;
}

.display-item-text-two{
  width: 10%;
}

.display-item-text-three{
  width: 20%;
}

.quantity{
  display: inline-block;
  font-size: 20px;

}

.plus-button{
    display: inline-block;
    background-color: orange;
    color: #fff;
    padding: 7px 13px;
    border-radius: 100%;
    margin-top: 10px;
    margin-right: 10px;
}

.minus-button{
    display: inline-block;
    background-color: orange;
    color: #fff;
    padding: 7px 15px;
    border-radius: 100%;
    margin-top: 10px;
}

.cart-area{
  margin: 50px 100px;
  /*background-color: #b7c2fd;*/
}

.cart-header{
font-size: 20px;
    border-bottom: solid #7b1fa2 4px;
    font-weight: 700!important;

}

/* end of cart page styles =============================================================== */

/* generic page styles ============================================================= */

.generic-product-image{
  width: 75%;
}



.tab-part{
  display: inline-block;
  margin: 20px 0px;
    padding-bottom: 20px;
    border-bottom: #f7ca18 solid 1px;
    width: 100%
}


.searchdiv{
  margin: 40px 0px;
}

.store-heading{
  margin: -19px;
    padding: 20px 60px;
}

.storeheadingparts-1{
  display: inline-block;
    background: #aa863a;
    margin-bottom: 0px;
        padding: 6px;
        color: #fff;
}

.storeheadingparts-2{
  display: inline-block;
    background: #aa863a;
    margin-top: 3px;
        padding: 6px;
        color: #fff;
}

.storeimage{
  background-image: url("../assets/images/cart/bookstore-pic.jpg");
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 350px;
    max-width: 1920px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
    /*margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;*/
  }


  /* end of generic page styles =================================================== */

/* ----------------------------------*/
/* Start Team Member Section         */
/* ----------------------------------*/


#team-section {
    padding-top: 40px;
    padding-bottom: 120px;
    background: #fff;
    color: #111;
    overflow: hidden;
}

#team-section .section-title h2 {
//color: #fff;
}

#team-section .section-title p {
//color: #fff;
}

.team-member {
    position: relative;
    overflow: hidden;
}

.team-member .team-details {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(114, 159, 152, 1);
/*(114, 159, 152, 1)*/
/*(255, 67, 46, 0.8)*/
    color: #fff;
    padding: 0 2px;
    opacity: 0;
    text-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.team-member .team-details h4 {
    padding-top: 15%;
    padding-bottom: 5%;
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
}

.team-member .team-details p {
    padding-bottom: 20%;
    font-size: 16px;
    color: #fff;
}


.team-member .team-details li {
    display: inline-block;
    padding-top: 20px;
}

.team-member .team-details li a {
    padding: 8px 12px;
    background: #fff;
    border: 1px solid transparent;
    color: #111;
    font-size: 16px;
}

.team-member .team-details li:hover a {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}


.team-details h4,
.team-details p,
.team-details li{
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,200%,0);
    transform: translate3d(0,200%,0);
}

.team-member:hover .team-details h4,
.team-member:hover .team-details p,
.team-member:hover .team-details li {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.team-member:hover .team-details {
    opacity: 0.7;
    filter: Alpha(Opacity=100);
}

.team-member:hover .team-details h4 {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.team-member:hover .team-details p {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.team-member:hover .team-details li:nth-child(n+1) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.team-member:hover .team-details li:nth-child(n+2) {
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
}

.team-member:hover .team-details li:nth-child(n+3) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.team-member:hover .team-details li:nth-child(n+4) {
    -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s;
}

.team-member:hover .team-details li:nth-child(n+5) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}


.qrcode-text-btn {
  display:inline-block!important;
  height:2em;
  width:3em;
  background:url(../assets/images/qr.png)90%70% no-repeat;
  background-size: contain!important;
  margin-left:2.7em;
  margin-bottom:1em!important;
  padding-top: 5px;
  cursor:pointer!important;
  vertical-align: bottom;
}
.qrcode-text-btn > .ui-shadow-inset{
  opacity: 0!important;
  position: absolute;

}
.ui-input-text > input[type=file] {
  position: absolute;
  overflow: hidden;
  width: 1px!important;
  height: 1px!important;
  opacity: 0!important;
}

.page-top {
    margin: 0px 0 0px;
    border-bottom: 1px solid #eee;
}

.page-top {
    background: url(../assets/images/aboutUsBanner.jpg) no-repeat;
    padding: 75px 0;
    margin-top: -2px;
}

.page-header h1 {
    color: #fff;
}
  /* specific page styles ============================================================= */

  .storename{
    margin: 0px 40px;
  }

  .specific-image{
    width: 60%;
    margin: 25px 60px;
  }

  .heart-icon{
    display: inline-block;
  }

  .specific-description{
    /*background-color: #b7c2fd;*/
    margin: 0px 30px;
    /*height: 200px;*/
  }
.event-specific-description{
    /*background-color: #b7c2fd;*/
    margin-bottom: 50px;
    height: 200px;
    position:relative;
}

  .specific-description-header{
    padding: 20px;
  font-size: 20px;
  font-weight: 700!important;
  border-bottom: #98a8fc solid 1px;
  }

  .button-specific-add-cart{
    background-color: #98a8fc;
    border: #98a8fc solid 1px;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 16px;
    cursor: pointer;
  }

  .button-specific-add-cart:hover{
    background-color: #fff;
    border: #98a8fc solid 1px;
    color: #98a8fc;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 16px;
    cursor: pointer;
  }

  .specific-price{
    /*background-color: #a4b2ff;*/
    margin: 40px 30px;
    padding: 20px;
    font-size: 20px;
    font-weight: 700!important;
  }

  .specific-price .leftelement{
    display: inline-block;
        border-bottom: #98a8fc solid;
  }

  .specific-price .rightelement{
    text-align: right;
    display: inline-block;
    float: right;
  }

  .regular{
   width: 95% !important;

 }

 .bestseller{
  /*background: #98a8fc;*/
  padding: 10px 60px 15px;
  margin: 10px 30px;
}

.googlemap {
        position: relative;
        padding-bottom: 75%; /* 4:3 ratio*/
        height: 0;
        overflow: hidden;
}

.googlemap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

/* end of specific page styles ============================================================= */

@media only screen and (max-width: 500px) {
  .carousel-holder {
    margin-left: 0px;
    height: auto;
  }

}

@media (max-width: 992px){
  .w3-sidebar.w3-collapse {
    display: none;
    z-index: 16;
  }

  .profilename{
    margin: 30px 30px;
  }

  .storename{
    margin: 0px 30px;
  }

  .cart-area{
    margin: 50px 10px;
    /*background-color: #b7c2fd;*/
  }

  .specific-image{
    width: 40%;
    margin: 25px 60px;
  }

  .display-item{
  display: inline-flex;
  height: 150px;
  /*background: rgba(149, 149, 149, 0.3);*/
  border-bottom: solid #98a8fc 1px;
  padding: 10px;
  margin: 10px 0px;
  width: 100%;
}

.store-heading {
    margin: 0px;
    padding: 0px 20px;
}

.generic-product-name{

  margin-top: 20px;
  margin-bottom: 0px;

}

.generic-product-description{
  margin-top: -10px;
  margin-bottom: 0px;

}

.generic-product-price-header{

   margin-top: 30px;
  margin-bottom: 0px;

}

.generic-product-price-cost{

   margin-top: -10px;
  margin-bottom: 0px;

}

.generic-product-mobile{
  text-align: center;
}

.tab-header{
  width: 100%;
}

.panel-group {
    margin-top: 40px;
    margin-right: 0px;
}

.quantity{
  margin-top: 20px;
}

.bestseller{
  padding: 0px;
}
}
