.carousel-control.left, .carousel-control.right {
  margin-right: 0px;
  margin-left: 0px;
}

.container-fluid{
  padding-left: 0px!important;
  padding-right: 0px!important;
}

/*start of slider styles*/
.slider {
  width: 100%;
  margin: 50px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}
/*end of slider styles*/


*:not(i)  {
  font-family: 'PT Sans', sans-serif !important;
  font-weight: 400 !important;
}
h1, h2, h3, h4, h5, h6{
  text-shadow: none !important;
}
.portfolio-item{
  margin: 0 auto;
  width: 100%;
  padding: 5px 15px 0px;
}
.portfolio-selection{
  width: 150px;
  padding: 5px 10px;
  margin: 0px 20px;
  background: #536dfe;
  text-align: center;
  height: 150px;
}
.carousel-img{
  width: fit-content;
  height: 100% !important;
  margin: 0 auto;
}
.carousel-holder{
  margin-left: 200px;
  height: 300px;
}
.portfolio-text{
  color: white !important;
  padding: 5px 10px !important;
  font-size: 20px;
  text-shadow: none;
  text-decoration: none;
}
.portfolio-selection>a:hover{
  background: transparent !important;
}

.display-item{
  display: inline-flex;
  height: 150px;
  background: rgba(149, 149, 149, 0.3);
  padding: 10px;
  margin: 10px 0px;
}
.display-item>img{
  width: 13%;
}
.display-item-text{
  padding: 10px 20px;
}
.display-item-text>a>h2{
  font-size: 28px;
  color: #212121;
}
.display-item-text>a>h3{
  font-size: 28px;
  color: #757575;
}

/*Sidebar*/
.w3-bar-item{
  color: white !important;
  font-size: 20px !important;
}

/*Top Nav Bar*/
.top-nav-bar{
  z-index:1;
  position: fixed;
  width: 100%;
  /*height: 50px;*/
  background: #7b1fa2;
}
.top-nav-bar>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7b1fa2;
  z-index:0;
  height: 40px;
}

.top-nav-items {
  float: right !important;
}

.top-nav-items>a {
  display: block;
  color: white !important;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.top-nav-items>a:hover:not(.active) {
  background-color: trnsparent;
  text-decoration: none;
}
.left-indent{
  float: left !important;
  font-size: 28px;
}

/*Side bar cart summary */
.item{
  display: inline-flex;
  width: 100%;
}
.right-items{
  width: 10%;
  float: right;
}
.left-items{
  width: 80%;
}
.shopping-cart-side-bar{
  /*margin-top: 750px; */
  padding: 5px 16px;
  background: #b7c2fd;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 80px;
}
.shopping-cart-side-bar>h2{
  font-size: 20px;
}
.left-items>h3{
  color: #212121;
  font-size: 20px;
}
.left-items>h4{
  color: #555555;
  font-size: 18px;
}
.right-items>h3{
  color: #212121;
  font-size: 20px;
}

.w3-sidebar {
  height: 100%;
  width: 200px;
  background-color: #98a8fc!important;
  position: fixed!important;
  z-index: 1;
  overflow: auto;
}

.w3-sidebar a:hover {
  text-decoration: none !important;
}

.w3-button:hover {
  color: #000!important;
  background-color: #b7c2fd!important;
  text-shadow: none;
}

.closebutton{
  background-color: #98a8fc!important;
}

.openbutton{
  margin-top: 0px!important;
  margin-bottom: 0px!important;
  width: 16%!important;
}

.portfolio-area{
  margin-bottom: 50px;
}

a, a:hover{
  text-decoration: none;
  color: black!important;
  cursor: pointer;
}

 .regular [type=button]{
  display: none !important;
}

/*account page ==========================================================================*/
.profilepic{
  background-image: url(../assets/images/profileimage.jpeg);
  background-position: 50% 50%;
  /* background-repeat: no-repeat; */
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-size: cover;
  margin: 40px auto;
}

.profilename{
  margin: 100px 0px;
}

.qr{
  background-color: #b7c2fd;
  margin: 0px 30px;
}

.qr-header{
  padding: 20px;
  font-size: 20px;
  font-weight: 700!important;
}

.ui-input-text{
  width: 90%!important;
  margin: 0px auto!important;
}

.button {
  background-color: #98a8fc;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 16px;
  cursor: pointer;
}

.buttons{
  text-align: right;
}

.ach-header{
  background-color: #a4b2ff;
  margin: 40px 30px;
  padding: 20px;
  font-size: 20px;
  font-weight: 700!important;
}

.ach-element{
  background-color: #c5c5c5;;
  margin: 40px 30px;
  padding: 33px;
  font-size: 20px;
  font-weight: 700!important;

}

.ach-element .leftelement{
  display: inline-block;
}

.ach-element .rightelement{
  text-align: right;
  display: inline-block;
  float: right;
}

/* end of account page ========================================================== */

/* cart page styles ============================================================== */
.cart-area{
  margin: 50px 100px;
  background-color: #b7c2fd;
}

.cart-header{
  background-color: #a4b2ff;
  padding: 20px;
  font-size: 20px;
  font-weight: 700!important;

}

/* end of cart page styles =============================================================== */

/* generic page styles ============================================================= */
.searchdiv{
  margin: 40px 0px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
    /*margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;*/
  }


  /* end of generic page styles =================================================== */

  /* specific page styles ============================================================= */

  .storename{
    margin: 0px 40px;
  }

  .specific-image{
    width: 60%;
    margin: 25px 60px;
  }

  .heart-icon{
    display: inline-block;
  }

  .specific-description{
    background-color: #b7c2fd;
    margin: 0px 30px;
    height: 200px;
  }

  .specific-price{
    background-color: #a4b2ff;
    margin: 40px 30px;
    padding: 20px;
    font-size: 20px;
    font-weight: 700!important;
  }

  .specific-price .leftelement{
    display: inline-block;
  }

  .specific-price .rightelement{
    text-align: right;
    display: inline-block;
    float: right;
  }

  .regular{
   width: 95% !important;

 }

 .bestseller{
  background: #98a8fc;
  padding: 10px 60px 15px;
  margin: 10px 30px;
}

/* end of specific page styles ============================================================= */

@media only screen and (max-width: 500px) {
  .carousel-holder {
    margin-left: 0px;
    height: auto;
  }

}

@media (max-width: 992px){
  .w3-sidebar.w3-collapse {
    display: none;
    z-index: 16;
  }

  .profilename{
    margin: 30px 30px;
  }

  .storename{
    margin: 0px 30px;
  }

  .cart-area{
    margin: 50px 10px;
    background-color: #b7c2fd;
  }

  .specific-image{
    width: 40%;
    margin: 25px 60px;
  }
}
